<p>gamemodeselection works!</p>
<button
  mat-button
  (click)="toggleButtonSanft()"
  [ngClass]="{
    'disabled-button': isSanftButtonDisabled,
    'enabled-button': !isSanftButtonDisabled
  }"
>
  {{ isSanftButtonDisabled ? "sanft" : "sanft" }}
</button>

<button
  mat-button
  (click)="toggleButtonMittel()"
  [ngClass]="{
    'disabled-button': isMittelButtonDisabled,
    'enabled-button': !isMittelButtonDisabled
  }"
>
  {{ isMittelButtonDisabled ? "mittel" : "mittel" }}
</button>

<button
  mat-button
  (click)="toggleButtonHart()"
  [ngClass]="{
    'disabled-button': isHartButtonDisabled,
    'enabled-button': !isHartButtonDisabled
  }"
>
  {{ isHartButtonDisabled ? "hart" : "hart" }}
</button>

<router-outlet></router-outlet>
