.button-container {
  display: flex;
  justify-content: center;
  align-items: flex;
  height: 100px;
}

.kategorien-container {
  display: flex;
  justify-content: center;
  height: 80px;
  color: #ede7fa !important;
  font-size: 40px;
  font-weight: 500;
  margin-top: 1.5%;
}

.enabled-button,
.disabled-button,
.enabled-buttonAufg,
.disabled-buttonAufg {
  width: 200px;
  height: 60px;
  font-size: 25px;
  border-radius: 25px;
}

.enabled-button,
.enabled-buttonAufg {
  color: #ede7fa !important;
  border: 4px solid #65d9d9;
}

.disabled-button,
.disabled-buttonAufg {
  color: #544f5f !important;
  border: 4px solid #3d5d5d;
}

.enabled-button {
  background-color: #872ab9;
}

.disabled-button {
  background-color: #370d48;
}

.enabled-buttonAufg {
  background-color: #13359e;
}

.disabled-buttonAufg {
  background-color: #0d1948;
}

.gamestart-button {
  width: 500px;
  height: 100px;
  font-size: 40px;
  border-radius: 35px;
  color: #ede7fa !important;
  border: 4px solid #872ab9;
  background-color: #65d9d9;
}

.break {
  content: "\A";
  white-space: pre;
}
