<hr />
<div class="kategorien-container">
  Allgemeine Fragen <span class="break"></span>
</div>
<div class="button-container">
  <button
    mat-button
    (click)="toggleButtonSanftAllg()"
    [ngClass]="{
      'disabled-button': isSanftAllgButtonDisabled,
      'enabled-button': !isSanftAllgButtonDisabled
    }"
  >
    {{ isSanftAllgButtonDisabled ? "sanft" : "sanft" }}
  </button>

  <button
    mat-button
    (click)="toggleButtonMittelAllg()"
    [ngClass]="{
      'disabled-button': isMittelAllgButtonDisabled,
      'enabled-button': !isMittelAllgButtonDisabled
    }"
  >
    {{ isMittelAllgButtonDisabled ? "mittel" : "mittel" }}
  </button>

  <button
    mat-button
    (click)="toggleButtonHardAllg()"
    [ngClass]="{
      'disabled-button': isHardAllgButtonDisabled,
      'enabled-button': !isHardAllgButtonDisabled
    }"
  >
    {{ isHardAllgButtonDisabled ? "hard" : "hard" }}
  </button>
</div>
<hr />
<div class="kategorien-container">Sexuelle Fragen</div>
<div class="button-container">
  <button
    mat-button
    (click)="toggleButtonSanftSex()"
    [ngClass]="{
      'disabled-button': isSanftSexButtonDisabled,
      'enabled-button': !isSanftSexButtonDisabled
    }"
  >
    {{ isSanftSexButtonDisabled ? "sanft" : "sanft" }}
  </button>

  <button
    mat-button
    (click)="toggleButtonMittelSex()"
    [ngClass]="{
      'disabled-button': isMittelSexButtonDisabled,
      'enabled-button': !isMittelSexButtonDisabled
    }"
  >
    {{ isMittelSexButtonDisabled ? "mittel" : "mittel" }}
  </button>

  <button
    mat-button
    (click)="toggleButtonHardSex()"
    [ngClass]="{
      'disabled-button': isHardSexButtonDisabled,
      'enabled-button': !isHardSexButtonDisabled
    }"
  >
    {{ isHardSexButtonDisabled ? "hard" : "hard" }}
  </button>
</div>
<hr />
<div class="kategorien-container">Depressive Fragen</div>
<div class="button-container">
  <button
    mat-button
    (click)="toggleButtonSanftDark()"
    [ngClass]="{
      'disabled-button': isSanftDarkButtonDisabled,
      'enabled-button': !isSanftDarkButtonDisabled
    }"
  >
    {{ isSanftDarkButtonDisabled ? "sanft" : "sanft" }}
  </button>

  <button
    mat-button
    (click)="toggleButtonMittelDark()"
    [ngClass]="{
      'disabled-button': isMittelDarkButtonDisabled,
      'enabled-button': !isMittelDarkButtonDisabled
    }"
  >
    {{ isMittelDarkButtonDisabled ? "mittel" : "mittel" }}
  </button>

  <button
    mat-button
    (click)="toggleButtonHardDark()"
    [ngClass]="{
      'disabled-button': isHardDarkButtonDisabled,
      'enabled-button': !isHardDarkButtonDisabled
    }"
  >
    {{ isHardDarkButtonDisabled ? "hard" : "hard" }}
  </button>
</div>
<hr />
<div class="button-container">
  <button
    mat-button
    (click)="onGamestartClick()"
    [ngClass]="{ 'gamestart-button': isGamestartButton }"
  >
    Spiel starten
  </button>
</div>
<router-outlet></router-outlet>
