<hr />
<div class="kategorien-container">
  Allgemeine Fragen <span class="break"></span>
</div>
<div class="button-container">
  <button
    mat-button
    (click)="toggleButtonSoftAllg()"
    [ngClass]="{
      'disabled-button': isSoftAllgButtonDisabled,
      'enabled-button': !isSoftAllgButtonDisabled
    }"
  >
    {{ isSoftAllgButtonDisabled ? "Sanft" : "Sanft" }}
  </button>

  <button
    mat-button
    (click)="toggleButtonMiddleAllg()"
    [ngClass]="{
      'disabled-button': isMiddleAllgButtonDisabled,
      'enabled-button': !isMiddleAllgButtonDisabled
    }"
  >
    {{ isMiddleAllgButtonDisabled ? "Mittel" : "Mittel" }}
  </button>

  <button
    mat-button
    (click)="toggleButtonHardAllg()"
    [ngClass]="{
      'disabled-button': isHardAllgButtonDisabled,
      'enabled-button': !isHardAllgButtonDisabled
    }"
  >
    {{ isHardAllgButtonDisabled ? "Hart" : "Hart" }}
  </button>
</div>
<hr />
<div class="kategorien-container">Sexuelle Fragen</div>
<div class="button-container">
  <button
    mat-button
    (click)="toggleButtonSoftSex()"
    [ngClass]="{
      'disabled-button': isSoftSexButtonDisabled,
      'enabled-button': !isSoftSexButtonDisabled
    }"
  >
    {{ isSoftSexButtonDisabled ? "Sanft" : "Sanft" }}
  </button>

  <button
    mat-button
    (click)="toggleButtonMiddleSex()"
    [ngClass]="{
      'disabled-button': isMiddleSexButtonDisabled,
      'enabled-button': !isMiddleSexButtonDisabled
    }"
  >
    {{ isMiddleSexButtonDisabled ? "Mittel" : "Mittel" }}
  </button>

  <button
    mat-button
    (click)="toggleButtonHardSex()"
    [ngClass]="{
      'disabled-button': isHardSexButtonDisabled,
      'enabled-button': !isHardSexButtonDisabled
    }"
  >
    {{ isHardSexButtonDisabled ? "Hart" : "Hart" }}
  </button>
</div>
<hr />
<div class="kategorien-container">Depressive Fragen</div>
<div class="button-container">
  <button
    mat-button
    (click)="toggleButtonSoftDark()"
    [ngClass]="{
      'disabled-button': isSoftDarkButtonDisabled,
      'enabled-button': !isSoftDarkButtonDisabled
    }"
  >
    {{ isSoftDarkButtonDisabled ? "Sanft" : "Sanft" }}
  </button>

  <button
    mat-button
    (click)="toggleButtonMiddleDark()"
    [ngClass]="{
      'disabled-button': isMiddleDarkButtonDisabled,
      'enabled-button': !isMiddleDarkButtonDisabled
    }"
  >
    {{ isMiddleDarkButtonDisabled ? "Mittel" : "Mittel" }}
  </button>

  <button
    mat-button
    (click)="toggleButtonHardDark()"
    [ngClass]="{
      'disabled-button': isHardDarkButtonDisabled,
      'enabled-button': !isHardDarkButtonDisabled
    }"
  >
    {{ isHardDarkButtonDisabled ? "Hart" : "Hart" }}
  </button>
</div>
<hr />
<div class="button-container">
  <button
    mat-button
    (click)="onGamestartClick()"
    [ngClass]="{ 'gamestart-button': isGamestartButton }"
  >
    Spiel starten
  </button>
</div>
<router-outlet></router-outlet>
