<div class="questions">
  <div *ngIf="currentQuestion; else noQuestions">
    <p><strong>Frage:</strong> {{ currentQuestion.inhalt }}</p>
  </div>
</div>

<div class="button-container">
  <button
    mat-button
    (click)="onNextQuestionClick()"
    [ngClass]="{
      'nextQuestion-button': isNextQuestionButtonDisabled,
      'nextQuestion-buttonEnabled': !isNextQuestionButtonDisabled
    }"
  >
    Nächste Frage
  </button>
</div>

<ng-template #noQuestions>
  <p>Ein Fehler ist aufgetreten du Lelek</p>
</ng-template>
<router-outlet></router-outlet>
